<header>
    <h2 class="logo">Logo</h2>
    <nav class="navigation">
        <a class = 'btns' href='/perfil'>Perfil</a>
        <a class = 'btns' href='/sobre'>Sobre</a>
        <a class = 'btns' href="/chat">Chat</a>
        <a class = 'btns' href = '/amigos'>Amigos</a>
        <a class = 'btns' href = '/login_sign'>Data</a>
        <!-- <a href="#">Contato</a> -->
        <a class="btnLogin" href = '/login_sign'>Entrar</a>
    </nav>
</header>